@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;500;600;700&display=swap');

/* Global font for p, h1, h2 */
p, h1, h2 {
  font-family: 'Afacad', sans-serif;
}



/* src/index.css ya App.jsx ke upar include hone wali CSS file me daal */
@keyframes slowSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slow-spin {
  animation: slowSpin 10s linear infinite;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
